<div *ngIf="bookingsList && dataSource && bookingCount">
  <table class="table" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="bookingAt">
      <th mat-header-cell *matHeaderCellDef>Booking At </th>
      <td mat-cell *matCellDef="let element" [routerLink]="['/bookings/' + element.id]"> {{element.bookingAt | date}} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> Created at </th>
      <td mat-cell *matCellDef="let element" [routerLink]="['/bookings/' + element.id]"> {{element.createdAt | date}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element" (click)="delete(element)">
        <button class="warning-button">Delete</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="bookingCount"
              [pageSize]="15"
              [pageSizeOptions]="[15]"
              (page)="onPageChange($event)"
              aria-label="Select page">
</mat-paginator>
</div>
