@import '../styles.scss';

#top-menu {
  box-shadow: $shadow-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 65px;
  background-color: $top-menu-bg-color;
}

#footer {
  box-shadow: $shadow-box;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 65px;
  background-color: $footer-bg-color;
}

