@import '../../styles.scss';

$big-button-container-size: 20px;

.table {
  padding-top: $big-button-container-size !important;
}

.big-button-container {
  height: $big-button-container-size;
  width: 100%;
  padding-top: 65px;
}

.big-button {
  width: 100%;
}
