
@import './assets/variables.scss';
@import './assets/mixins.scss';

html {
  font-family: $font-family;
  color: $text-color;
}

.table {
  padding-top: 65px;
  width: 100%;
  height: calc(100% - 65px);
}

.warning-button {
  background-color: $button-warning-color;
}

.info-button {
  background-color: $button-info-color;
}

.padding-top-bottom {
  padding-top: 65px;
  width: 100%;
  height: calc(100% - (65px * 2));
  padding-bottom: 65px;
}
